@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,800;1,200;1,400;1,900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  color: #212121;
  scroll-behavior: smooth;
}

h1,
h2,
h4 {
	margin-top: 15px;
}

.navbar {
  padding: 0.8rem;
}

.logo {
  height: 4rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0088cc;
}

.swiper-container {
  width: 100%;
  height: 35%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev {
  left: 30px;
  color: beige;
}

.swiper-button-next {
  right: 30px;
  color: beige;
}

.swiper-slide {
  justify-items: center;
  display: flex;
}

.main-box-container {
  background-image: url(https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  padding: 60px;
}

.slide-box {
  font-size: 22px;
  padding: 30px 30px 0 30px;
  height: 300px;
  text-align: center;
  margin: 0 25px 0 25px;
  background: rgba(255, 255, 255, 0.61);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.fa-ruler,
.fa-wrench,
.fa-toolbox {
  color: #212121;
  font-size: 4em;
  margin: 1rem;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.advantages {
  font-size: 23px;
}

.advantages li {
  margin-top: 25px;
  border-bottom: 1px dotted grey;
}

/* Calculator */
.form-container-calc {
	border: 1px solid #bdbdbd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 0  15px -15px 15px;
}

.house-plan {
	width: 100%;
}

.calc-block {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.price-btn {
	justify-content: center;
	display: flex;
	margin: 15px;
}

.mark-text {
  opacity: 0.6;
  margin-top: 30px;
}

/* End Calculator */

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-facebook-square {
  color: #d5d5d5;
  transition-duration: 0.5s;
}

.fa-instagram {
  color: #d5d5d5;
  transition-duration: 0.5s;
}

.fa-telegram-plane {
  color: #d5d5d5;
  transition-duration: 0.5s;
}

.fa-whatsapp {
  color: #d5d5d5;
  transition-duration: 0.5s;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #E1306C;
}

.fa-telegram-plane:hover {
  color: #0088cc;
}

.fa-whatsapp:hover {
  color: #4fce5d;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn {
  margin-top: 10px;
}

.form-container {
  border: 1px solid #bdbdbd;
  margin: 5% 20%;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  width: 50%;
}

footer {
  background-color: #5a5959;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.footer-contact a {
  transition: 0.5s;
}

.footer-contact a:hover {
  text-decoration: none;
  color: #0088cc;
}

/* Back to top button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #333;
  color: #fff;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }

  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }

  .house-plan {
	display: none;
}
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%;
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }

  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }

  .house-plan {
	  display: none;
  }

  .calc-block {
	  font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }

  .house-plan {
	display: none;
  }

  .form-container {
    margin: 10% 2%;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("https://images.unsplash.com/photo-1499815022134-5a333f5a299c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1250&q=80");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  transition-duration: 0.5s;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/* Back to top buton Animations */
.btnEntrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
  }
  /* zoomIn */
  /* @keyframes btnEntrance { 
	from {
	  opacity: 0;
	  transform: scale3d(0.3, 0.3, 0.3);
	}
	to {
	  opacity: 1;
	}    
  } */
  
  /* fadeInUp */
  @keyframes btnEntrance {
	from {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
	to {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;  
	animation-name: btnExit;
  }
  /* zoomOut */
  /* @keyframes btnExit {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  } */
  
  /* fadeOutDown */
  @keyframes btnExit {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
  }

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
